<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
    <link rel="stylesheet" href="help.css">
</head>
<body>
    <div class="container">
            <img src="1.PNG" class="logo">
        <form>
            <h1>Help & Support</h1>
            <input type="text" id="firstName" placeholder="First Name" required>
            <input type="text" id="lastName" placeholder="Last Name" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="text" id="mobile" placeholder="Mobile" required>
            <textarea required id ="issue" placeholder="what's your question"></textarea>
            <input type="submit" value="Send" id="button">
        </form>
    </div>
    <script src="help.js"></script>
</body>
</html>